# -------------------- Logs --------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------------- Node / build folders --------------------
node_modules/
dist/
dist-ssr/
*.local

# -------------------- Environment and upload data --------------------
.env
uploads/
profiles/

# -------------------- Editor and system files --------------------
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
